@model MengajiOne2One.Models.Class_Record

@{
    ViewBag.Title = "Butiran Rekod Kelas";
}

<h2>Butiran Rekod Kelas</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.c_date)
        </dt>

        <dd>
            @Html.EditorFor(model => model.c_date, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_duration)
        </dt>

        <dd>
            @Html.EditorFor(model => model.c_duration, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_timeStart)
        </dt>

        <dd>
            @Html.EditorFor(model => model.c_timeStart, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_timeEnd)
        </dt>

        <dd>
            @Html.EditorFor(model => model.c_timeEnd, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_status)
        </dt>

        <dd>
            @Html.EditorFor(model => model.c_status, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Record.s_name)
        </dt>

        <dd>
            @Html.EditorFor(model => model.Student_Record.s_name, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Record.u_name)
        </dt>

        <dd>
            @Html.EditorFor(model => model.User_Record.u_name, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
