@model MengajiOne2One.Models.Class_Record

@{
    ViewBag.Title = "Butiran Rekod Kelas";
}

<h2>Butiran Rekod Kelas</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.c_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_timeStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_timeStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_timeEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_timeEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Record.s_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Record.s_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Record.u_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Record.u_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
