@model MengajiOne2One.Models.Student_Record

@{
    ViewBag.Title = "Padam Pelajar";
}

@if (Session["UserID"] == null || Session["Usertype"].ToString() == "2")
{
    <script>
        window.location = "../Login/Index"
    </script>
}

<h2>Padam Pelajar</h2>

<h3>Adakah anda pasti mahu padam pelajar ini?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.s_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_contactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_contactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_regDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_regDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_package)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_package)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Record.u_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Record.u_name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Padam" class="btn btn-danger" onclick="return confirm ('Adakah anda pasti?')" ; /> |
            @Html.ActionLink("Kembali", "Index")
        </div>
    }
</div>
