@model MengajiOne2One.Models.User_Record

@{
    ViewBag.Title = "Butiran";
}
<h2>Butiran Staf</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.u_name)
        </dt>

        <dd>
            @Html.EditorFor(model => model.u_name, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.u_contactNo)
        </dt>

        <dd>
            @Html.EditorFor(model => model.u_contactNo, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.u_email)
        </dt>

        <dd>
            @Html.EditorFor(model => model.u_email, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Type.t_desc)
        </dt>

        <dd>
            @Html.EditorFor(model => model.User_Type.t_desc, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Kemaskini", "Edit", new { id = Model.u_id }) |
    @Html.ActionLink("Kembali", "Index")
</p>
