@model MengajiOne2One.Models.Salary_Rate

@{
    ViewBag.Title = "Kemaskini Kadar Elaun";
}

<h2>Kemaskini Kadar Elaun</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.sr_id)

        <div class="form-group">
            @Html.LabelFor(model => model.sr_val, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sr_val, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sr_val, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kemaskini" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Kembali", "Details", new {id=1})
</div>
