@model MengajiOne2One.Models.Salary_Record

@{
    ViewBag.Title = "Tambah Rekod Elaun";
}

<h2>Tambah Rekod Elaun</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.sal_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.sal_date, new { @Value = @DateTime.Now.ToShortDateString(), htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sal_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sal_teacherID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("sal_teacherID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sal_teacherID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sal_month, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("sal_month", new List<SelectListItem>{
                           new SelectListItem{ Text="Januari", Value = "January" },
                           new SelectListItem{ Text="Februari", Value = "February" },
                           new SelectListItem{ Text="Mac", Value = "March" },
                           new SelectListItem{ Text="April", Value = "April" },
                           new SelectListItem{ Text="Mei", Value = "May" },
                           new SelectListItem{ Text="Jun", Value = "June" },
                           new SelectListItem{ Text="Julai", Value = "July" },
                           new SelectListItem{ Text="Ogos", Value = "August" },
                           new SelectListItem{ Text="September", Value = "September" },
                           new SelectListItem{ Text="Oktober", Value = "October" },
                           new SelectListItem{ Text="November", Value = "November" },
                           new SelectListItem{ Text="Disember", Value = "December" }}, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sal_month, "", new { @class = "text-danger" })

            </div>
        </div>


        <div class="form-group">
                @Html.LabelFor(model => model.sal_amount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.sal_amount, new { htmlAttributes = new { @class = "form-control", @readonly="true" } })
                    @Html.ValidationMessageFor(model => model.sal_amount, "", new { @class = "text-danger" })
                </div>
            </div>
        <div class="form-group">
            @Html.LabelFor(model => model.sal_status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("sal_status", new List<SelectListItem>{
                           new SelectListItem{ Text="Dalam Proses", Value = "Dalam Proses" },
                           new SelectListItem{ Text="Selesai", Value = "Selesai" }}, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sal_status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tambah" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Kembali", "Index")
</div>
@section scripts
{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        getSalary();
        function getSalary() {
            $("#sal_month").change(function (e) {

                $.ajax({

                    type: 'POST',
                    url: '/Salary_Record/GetSalary?id=' + $("#sal_month").val() + '&u=' + $("#sal_teacherID").val(),
                    dataType: 'JSON',
                    success: function (data) {
                        $("#sal_amount").val(data)

                    }
                });
            });

        }
        getSalary2();
        function getSalary2() {
            $("#sal_teacherID").change(function (e) {

                $.ajax({

                    type: 'POST',
                    url: '/Salary_Record/GetSalary?id=' + $("#sal_month").val() + '&u=' + $("#sal_teacherID").val(),
                    dataType: 'JSON',
                    success: function (data) {
                        $("#sal_amount").val(data)

                    }
                });
            });

        }
    </script>
}