@model MengajiOne2One.Models.Salary_Record

@{
    ViewBag.Title = "Butiran Rekod Elaun";
}

<h2>Butiran Rekod ELaun</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_Record.u_id)
        </dt>

        <dd>
            @Html.EditorFor(model => model.User_Record.u_id, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User_Record.u_name)
        </dt>

        <dd>
            @Html.EditorFor(model => model.User_Record.u_name, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sal_date)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.sal_date, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = "true" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sal_year)
        </dt>

        <dd>
            @Html.EditorFor(model => model.sal_year, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
        </dd>
        <dt>
        <dt>
            @Html.DisplayNameFor(model => model.sal_month)
        </dt>

        <dd>
            @Html.EditorFor(model => model.sal_month, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sal_amount)
        </dt>

        <dd>
            @Html.EditorFor(model => model.sal_amount, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sal_status)
        </dt>

        <dd>
            @Html.EditorFor(model => model.sal_status, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Kemaskini", "Edit", new { id = Model.sal_ID }) |
    @Html.ActionLink("Kembali", "Index")
</p>
