@model MengajiOne2One.Models.Salary_Record

@{
    ViewBag.Title = "Kemaskini Rekod Elaun";
}

<h2>Kemaskini Rekod Elaun</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.sal_ID)
    @Html.HiddenFor(model => model.sal_date)

    <div class="form-group">
        @Html.LabelFor(model => model.sal_teacherID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("sal_teacherID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.sal_teacherID, "", new { @class = "text-danger" })
        </div>
    </div>

    @{ var i = @DateTime.Now.Year;}
    <div class="form-group">
        @Html.LabelFor(model => model.sal_year, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("sal_year", new List<SelectListItem>{
                       new SelectListItem{ Text=(@i-1).ToString(), Value = (@i-1).ToString() },
                       new SelectListItem{ Text=@i.ToString(), Value = @i.ToString() },
                       new SelectListItem{ Text=(@i+1).ToString(), Value = (@i+1).ToString() },
                       new SelectListItem{ Text=(@i+2).ToString(), Value = (@i+2).ToString() }}, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.sal_year, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.sal_month, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("sal_month", new List<SelectListItem>{
                       new SelectListItem{ Text="Januari", Value = "Januari" },
                       new SelectListItem{ Text="Februari", Value = "Februari" },
                       new SelectListItem{ Text="Mac", Value = "Mac" },
                       new SelectListItem{ Text="April", Value = "April" },
                       new SelectListItem{ Text="Mei", Value = "Mei" },
                       new SelectListItem{ Text="Jun", Value = "Jun" },
                       new SelectListItem{ Text="Julai", Value = "Julai" },
                       new SelectListItem{ Text="Ogos", Value = "Ogos" },
                       new SelectListItem{ Text="September", Value = "September" },
                       new SelectListItem{ Text="Oktober", Value = "Oktober" },
                       new SelectListItem{ Text="November", Value = "November" },
                       new SelectListItem{ Text="Disember", Value = "Disember" }}, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.sal_month, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.sal_amount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sal_amount, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            @Html.ValidationMessageFor(model => model.sal_amount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sal_status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("sal_status", new List<SelectListItem>{
                      new SelectListItem{ Text="Dalam Proses", Value = "Dalam Proses" },
                      new SelectListItem{ Text="Selesai", Value = "Selesai" }}, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.sal_status, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Kemaskini" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Kembali", "Index")
</div>

@section scripts
{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        getSalary();
        function getSalary() {
            $("#sal_month").change(function (e) {

                $.ajax({

                    type: 'POST',
                    url: '/Salary_Record/GetSalary?id=' + $("#sal_month").val() + '&u=' + $("#sal_teacherID").val() + '&y=' +  $("#sal_year").val(),
                    dataType: 'JSON',
                    success: function (data) {
                        $("#sal_amount").val(data)

                    }
                });
            });

        }
        getSalary2();
        function getSalary2() {
            $("#sal_teacherID").change(function (e) {

                $.ajax({

                    type: 'POST',
                    url: '/Salary_Record/GetSalary?id=' + $("#sal_month").val() + '&u=' + $("#sal_teacherID").val() + '&y=' +  $("#sal_year").val(),
                    dataType: 'JSON',
                    success: function (data) {
                        $("#sal_amount").val(data)

                    }
                });
            });

        }
        getSalary3();
        function getSalary3() {
            $("#sal_year").change(function (e) {

                $.ajax({

                    type: 'POST',
                    url: '/Salary_Record/GetSalary?id=' + $("#sal_month").val() + '&u=' + $("#sal_teacherID").val() + '&y=' + $("#sal_year").val(),
                    dataType: 'JSON',
                    success: function (data) {
                        $("#sal_amount").val(data)

                    }
                });
            });

        }
    </script>
}