@model MengajiOne2One.Models.Student_Performance_Record

@{
    ViewBag.Title = "Butiran Prestasi";
}

<h2>Butiran Prestasi</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student_Record.s_id)
        </dt>

        <dd>
            @Html.EditorFor(model => model.Student_Record.s_id, new { htmlAttributes = new { @class = "form-control", @readonly="true" } })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student_Record.s_name)
        </dt>

        <dd>
            @Html.EditorFor(model => model.Student_Record.s_name, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.per_date)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.per_date, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = "true" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.per_month)
        </dt>

        <dd>
            @Html.EditorFor(model => model.per_month, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_desc)
        </dt>

        <dd>
            @Html.EditorFor(model => model.per_desc, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
        </dd>

    </dl>
</div>
<p>
    @if (@User.IsInRole("Guru"))
    {
        @Html.ActionLink("Kemaskini", "Edit", new { id = Model.per_ID })

    }
    @Html.ActionLink("Kembali", "Index")

</p>
