@model IEnumerable<MengajiOne2One.Models.Student_Performance_Record>

@{
    ViewBag.Title = "Senarai Prestasi";
}
@if (User.IsInRole("Guru"))
{
    <h2>Senarai Prestasi</h2>
}
else
{
    <h2>Senarai Yuran Pelajar</h2>
}


<p>
    @if (User.IsInRole("Guru"))
    {
        @Html.ActionLink("Tambah Prestasi", "Create", null, new { @class = "btn btn-success btnStyle" })
    }

</p>
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["AlertMessage"]
    </div>

}
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student_Record.s_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_Record.s_name)
            </th>
            @if (@User.IsInRole("Guru"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.per_date)
                </th>
            }

            <th>
                @Html.DisplayNameFor(model => model.per_year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.per_month)
            </th>
            @if (@User.IsInRole("Guru"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.per_desc)
                </th>
            }

            @if (@User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.per_amaunt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.per_status)
                </th>
            }

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student_Record.s_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student_Record.s_name)
                </td>
                @if (@User.IsInRole("Guru"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.per_date)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.per_year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.per_month)
                </td>
                @if (@User.IsInRole("Guru"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.per_desc)
                    </td>
                }

                @if (@User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.per_amaunt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.per_status)
                    </td>
                }
                <td>
                    @if (@User.IsInRole("Guru") || @User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Kemaskini", "Edit", new { id = item.per_ID }, new { @class = "btn btn-warning btnStyle" })
                        @Html.ActionLink("Butiran", "Details", new { id = item.per_ID }, new { @class = "btn btn-info btnStyle" })
                        @Html.ActionLink("Padam", "Delete", new { id = item.per_ID }, new { @class = "btn btn-danger btnStyle" })
                        @Html.ActionLink("Laporan Bulanan", "ViewReport", new { id = item.per_ID }, new { @class = "btn btn-primary btnStyle", target="_blank" })
                    }

                    else
                    {
                        @Html.ActionLink("Butiran", "Details", new { id = item.per_ID }, new { @class = "btn btn-info btnStyle" })
                        @Html.ActionLink("Cetak", "Details", new { id = item.per_ID }, new { @class = "btn btn-primary btnStyle" })
                        @Html.ActionLink("Laporan Prestasi", "ViewReport", new { id = item.per_ID }, new { @class = "btn btn-primary btnStyle" })
                    }

                </td>
            </tr>
        }

    </table>
</div>